
.mainDiv {
    margin: 20px;
    border-width: 1px;
    border-color: red;
    background-color: lightcyan;
    border-radius: 10px;
    text-align: center;
}

.input {
    margin: 20px auto 20px auto;
    width: 100px;
    background-color: lightcyan;
    border-width: 1px;
    border-style: dashed;
    border-color: red;
    border-radius: 10px;
    outline: none;
    height: 20px;
}

#select{
    width: 50px;
}

#results {
    color: red;
    background-color: lightcyan;
    border-width: 1px;
    margin: 20px auto 20px auto;
    border-style: dashed;
    border-color: red;
    border-radius: 10px;
    outline: none;
    height: 100px;
}

.row {
    display: block;
}

.button {
    color: red;
    margin: 20px auto 20px auto;
    background-color: lightcyan;
    border-width: 1px;
    border-style: dashed;
    border-color: red;
    border-radius: 10px;
    outline: none;
}

.button:disabled{
    color: red;
    margin: 20px auto 20px auto;
    background-color: lightcyan;
    border-width: 1px;
    border-style: dashed;
    border-color: red;
    border-radius: 10px;
    opacity: 20%;
    outline: none;
}