
.mainDev {
    margin: 20px 20px 20px 20px;
    border-width: 1px 1px 1px 1px;
    border-color: red;
    background-color: lightcyan;
    border-radius: 10px;
}

.input {
    margin: 10px 10px 10px 10px;
    width: 70px;
    background-color: lightcyan;
    border-width: 1px 1px 1px 1px;
    border-style: dashed;
    border-color: red;
    border-radius: 10px;
}

#select{
    width: 50px;
}

.color {
    color:red;
}

textarea {
    color: red;
    background-color: lightcyan;
    border-width: 1px 1px 1px 1px;
    margin: 20px auto 20px auto;
    border-style: dashed;
    border-color: red;
    border-radius: 10px;
}

.row {
    display: block;
}

.button {
    color: red;
    margin: 20px auto 20px auto;
    background-color: lightcyan;
    border-width: 1px 1px 1px 1px;
    border-style: dashed;
    border-color: red;
    border-radius: 10px;
}